   @import url(./global.css);
   
   /* explore.css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
}

body {
    align-items: center

}

.home-pic {
    width: 100%;
    max-width: 2000px;
}

.center-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 80%;
    margin: 0 auto;
    gap: 2rem;

}
.explore-heading{
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 2rem 1rem;
    font-size: 40px;
}


.explore {
    display: flex;
    flex-direction: row;
    padding: 0;
    gap: 6rem;
    align-items: center;
    width: 100%;
    max-width: 1600px;
}


.brief {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    max-width: 50%;
}

.research {
    display: flex;
    flex-direction: row;
    padding-top: 3rem;
    gap: 6rem;
    align-items: center;
    width: 100%;
    max-width: 1600px
}

.kafe-shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
}

.kafe-shop h2{
    margin-top:2rem ;
}

.extra-info {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 2rem;
}
.extra-info img{
    width: 100%;
}


@media(max-width: 1300px){
    .explore {
        display: flex;
        flex-direction: column;
    }

    .brief {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
        max-width: 80%;
    }
    
    .research {
        display: flex;
        flex-direction: column;
        
    }

}

@media(max-width:600px){
    .explore-heading{
        align-items: flex-start;
        font-size: 20px;
    } 
    .explore  .research{
        align-items: center;
        justify-content: center;


    }
    .explore img{
       max-width: 100%;
    }
    .research img{
        max-width: 100%;
    }
   
    .kafe-shop img {
        max-width: 100%;
       
    }
     
    .extra-info img {
        max-width: 100%;
       
    }


}
