/* index.css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

body,
html {
    width: 100%;
    height: 100%;
}

nav {
    width: auto;
    height: 10%;
    background: #23376B;
}

.logo {
    font-size: 30px;
    color: yellow;
    margin: 0 100px;
    line-height: 80px;
}

nav ul {
    float: right;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    line-height: 80px;

}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-transform: capitalize;
    padding: 8px 10px;
    background: #23376B;
}

nav ul li a .active,
a:hover {
    background: grey;

}

#check-btn {
    float: right;
    line-height: 80px;
    margin-right: 10px;
    font-size: 30px;
    color: white;
    display: none;
}

#check {
    display: none;
}

#check:checked~ul {
    left: 0;
}

@media(max-width:450px) {
    .logo {
        font-size: 23px;
        margin: 0 50px;
    }

}

@media (max-width: 1104px) {
    .logo {
        margin: 0 50px;
    }


    #check-btn {
        display: block;
    }

    nav ul {
        width: 100%;
        height: 100vh;
        background: #3f5ca8;
        position: fixed;
        top: 80px;
        left: -100%;
        transition: 0.5s;
    }

    nav ul li {
        display: block;
        text-align: center;
        line-height: 50px;
        margin: 20px;

    }

}

.center-body {
    align-items: center;
    margin: 1rem 1rem;
}

.home-pic {
    width: 100%;
    max-width: 2000px;
}

.heading {
    margin-top: 3rem;
}

.welcome-info {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;

}

.coming-events {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.skeleton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid  grey;
    background-color: #fff;
    width: 100%;
    max-width: 300px;
    padding: 0.5rem;
    gap: 1rem;

    >img {
        width: 100%;
        max-width: 600%;
    }

}
.mirror{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid  grey;
    background-color: #fff;
    width: 100%;
    max-width: 300px;
    padding: 0.5rem;
    gap: 1rem;

    >img {
        width: 100%;
        max-width: 600%;
    }

}

.entrance {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    border: 1px solid grey;
    margin-top: 5rem;
    margin-bottom: 5rem;
   

}


.entry {
    width: 100%;
    max-width: 700px;
    height: 700px;
   
}
.entry-para{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 100%;
    max-width: 600px;
    background-color: light grey;
}