/* index.css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'inter', sans-serif; 
}


header {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #23376B;
    
}
header div img{
    width: 100%;
    max-width: 80px;
}

h1 {
    
    font-style: bold;
    font-size: clamp(36px, 2vw + 10rem, 60px);
}

h2 {
    
    font-style: semi bold;
    font-size: clamp(14px, 1vw +1rem, 30px);
    margin: 0;

}

h3 {
    font-style: medium;
    font-size: 20px;
    font-size: clamp(14px, 1vw + 1rem, 30px);
    margin: 0;
}

p {
    font-style: regular;
    font-size: 30px;
    font-size: clamp(14px, 1vw + 1rem, 24px);
    margin: 0;
}

body,
html {
    width: 100%;

}


nav {
    width: auto;
    height: 10%;
    background: #23376B;
}
.logo-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}

.logo {
    font-size: 30px;
    color: yellow;
    margin: 0 20px;
    line-height: 80px;
}

nav ul {
    float: right;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    line-height: 80px;

}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-transform: capitalize;
    padding: 8px 10px;
    background: #23376B;
}

nav ul li a .active,
a:hover {
    background: grey;

}

#check-btn {
    float: right;
    line-height: 80px;
    margin-right: 10px;
    font-size: 30px;
    color: white;
    display: none;
}

#check {
    display: none;
}

#check:checked~ul {
    left: 0;
}

@media(max-width:450px) {
    .logo {
        font-size: 23px;
        margin: 0 50px;
    }

}

@media (max-width: 1104px) {
    .logo {
        margin: 0 50px;
    }


    #check-btn {
        display: block;
    }

    nav ul {
        width: 100%;
        height: 100vh;
        background: #3f5ca8;
        position: fixed;
        top: 80px;
        left: -100%;
        transition: 0.5s;
    }

    nav ul li {
        display: block;
        text-align: center;
        line-height: 50px;
        margin: 20px;

    }

}

.center-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    gap: 2rem;

}

.home-pic {
    width: 100%;
    max-width: 2000px;
}

.heading {
    width: 82%;
    margin-top: 3rem;
    margin: 0 auto;


}

.welcome-info {
    width: 90%;
    max-width: 60%;
    margin-top: 2rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    align-items: center;
    justify-content: space-between;
    padding-left: 0;


}

.glass-animal {
    width: 100%;
    max-width: 800px;
    height: 500px;
}

.coming-events {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 3rem 3rem;
    align-items: center;
}

.events-info {
    align-items: center;
    margin: 30px 30px;
}

.event-items {
    width: 100%;
    display: flex;
    flex-direction: row;
    row-gap: 10rem;
    justify-content: space-around;
}

.skeleton {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid grey;
    background-color: #fff;
    width: 100%;
    max-width: 400px;
    gap: 5px;
    height: 550px;

}

.skeleton img {
    width: 100%;
    max-width: 600px;
}




.mirror {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid grey;
    background-color: #fff;
    width: 100%;
    max-width: 400px;
    padding: 0.5rem;


    >img {
        width: 100%;
        max-width: 600%;
    }

}

.entrance {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    border: 1px solid grey;
    margin-top: 5rem;
    margin-bottom: 5rem;
    background-color: lightskyblue;


}


.entry {
    width: 100%;
    max-width: 700px;
    height: 700px;

}

.entry-para {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 100%;
    padding: 1rem;
    max-width: 600px;
    
}

.gallery-pics {
    display: grid;
   grid-template-columns: repeat(3,1fr);
   margin: 0 auto;
    border: 1px grey;
    width: 80%;
    padding: 0.5rem;
    gap: 3rem;

   

}

.dekstop-footer {
    background: #3f5ca8;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 0rem;
    width: 100%;


}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.footer-adress {
    display: flex;
    flex-direction: column;
}

.social-links {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
}