/* index.css*/

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: Inter ,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
nav{
    background: #23376B;
    height: 80px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0  100px;
    font-weight: bold;

}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0.5px;
}
.button{
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px ,13px;
    border-radius: 3px;
}
a.button, a:hover{
    background: yellow;
    transition: 0.5s; ;

}